<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Wedding of Tatiana and George</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	<!-- Animate.css -->
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/animate.css') }}">

	<!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/icomoon.css') }}">
	<!-- Bootstrap  -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/bootstrap.css') }}">

	<!-- Magnific Popup -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/magnific-popup.css') }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/owl.carousel.min.css') }}">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/owl.theme.default.min.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>
	
	<div id="page">

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(static/images/background-image.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							{% block content %}
								{% with messages = get_flashed_messages() %}
								  {% if messages %}
									{% for message in messages %}
									  <h2>{{ message }}</h2>
									{% endfor %}
								  {% endif %}
								{% endwith %}
							{% endblock %}
							<h1>Tatiana &amp; George</h1>
							<h2>Ne căsătorim!</h2>
							<div class="simply-countdown simply-countdown-one"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<header id="fh5co-header3" class="fh5co-cover2" role="banner" data-stellar-background-ratio="0.5">
        <div id="fh5co-couple2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                        <h2>Nunta noastră!</h2>
                        <h3>17 Septembrie 2022 - Târgu Neamț, România</h3>
                        <h2>Te invităm să ne fii alături când vom spune un mare "DA".</h2>
                    </div>
                </div>
                <div class="couple-wrap animate-box">
                    <div class="couple-half">
                        <div class="groom">
                            <img src="static/images/myself.jpg"
                                 alt="groom" class="img-responsive">
                        </div>
                        <div class="desc-groom">
                            <h3>
                                Bărbieru
                                George
                            </h3>
                            <p> Ar fi multe de spus dar începând din această zi nu va mai fi despre mine, ci despre noi.
								Despre cum începe o poveste și despre cât de frumoasă și interesantă va fi ea.
                            </p>
                        </div>
                    </div>
                    <p class="heart text-center"><i class="icon-heart2"></i></p>
                    <div class="couple-half">
                        <div class="bride">
                            <img src="static/images/her.jpg"
                                 alt="groom" class="img-responsive">
                        </div>
                        <div class="desc-bride">
                            <h3>
                                Gomoană
                                Tatiana
                            </h3>
                            <p>
                                Serioasă dar cu capul în nori, devreme acasă, iubitoare dar și vulcanică. Și ghici ce.. mă mărit!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box " style="margin-bottom: 0;">
					<h2>Împreună cu nașii</h2>
					<h3>Ovidiu și Andreea Iftode</h3>
					<h2>Părinții</h2>
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box" style="display:flex; flex-direction: row; margin-bottom: 0;">
						<h3>&emsp;&emsp;Gheorghe și Ana Bărbieru</h3>
						<h3>&emsp;&emsp;&emsp;&emsp;</h3>
						<h3>Gheorghe și Maria Gomoană</h3>
					</div>
                </div>
            </div>
        </div>
	</header>

	<div id="fh5co-header2" class="fh5co-bg" style="background-image:url(static/images/forever.jpg); " >
		<div class="overlay"></div>
		<div class="container">
			<div class="display-t">
				<div class="display-tc animate-box" data-animate-effect="fadeIn" >
					<br>
					<h2>"E o întâmplare a fiinţei mele</h2>
					<h2> şi atunci fericirea dinlăuntrul meu</h2>
					<h2> e mai puternică decât mine, decât oasele mele,</h2>
					<h2> pe care mi le scrâşneşti într-o îmbrăţişare</h2>
					<h2> mereu dureroasă, minunată mereu.</h2>
					<br>
					<h2>Să stăm de vorbă, să vorbim, să spunem cuvinte</h2>
					<h2>lungi, sticloase, ca nişte dălţi ce despart</h2>
					<h2>fluviul rece în delta fierbinte,</h2>
					<h2>ziua de noapte, bazaltul de bazalt.</h2>
					<br>
					<h2>Du-mă, fericire, în sus, şi izbeşte-mi</h2>
					<h2>tâmpla de stele, până când</h2>
					<h2>lumea mea prelungă şi în nesfârşire</h2>
					<h2>se face coloană sau altceva"</h2>
					<h2>mult mai înalt şi mult mai curând.</h2>
					<br>
					<h2>Ce bine că eşti, ce mirare că sunt!</h2>
					<h2>Două cântece diferite, lovindu-se </h2>
					<h2>amestecându-se,</h2>
					<h2>douâ culori ce nu s-au văzut niciodată,</h2>
					<h2>una foarte de jos, întoarsă spre pământ,</h2>
					<h2>una foarte de sus, aproape ruptă</h2>
					<h2>în înfrigurata, neasemuită luptă</h2>
					<h2>a minunii că eşti, a-ntâmplării că sunt."</h2>
					<br>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(static/images/evenimente.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Evenimente</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc" >
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Ceremonia religioasă</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>ora 14:00</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>17 Septembrie 2022</span>
									</div>
									<h3>Biserica Sf. Nicolae, Oglinzi.</h3>
								</div>
								<div class="event-wrap animate-box">
									<h3>Cununia civilă</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>ora 10:00 - 14:00</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>13 August 2022</span>
									</div>
									<h3>Galați.</h3>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Petrecere</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>17:00 </span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>17 Septembrie 2022</span>
									</div>
									<h3>Restaurant Victoria, Târgu Neamț.</h3>
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2710.522203208193!2d26.364405815616614!3d47.206363679160084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4735473924708525%3A0xd98525ff0b2a9fe5!2sRestaurant%20Victoria!5e0!3m2!1sro!2sro!4v1655925781495!5m2!1sro!2sro" width="300" height="245" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(static/images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Vă așteptăm cu drag!</h2>
					<p>Completează formularul de mai jos pentru a ne anunța dacă vei fi alături de noi.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<form class="form-inline" action="{{ url_for('handle_data') }}" method="POST">
						<div class="col-md-4 col-sm-4">
							<div class="field_wrapper">
								<div class="field_wrapper_1" style="display:flex; flex-direction: row;">
									<a href="javascript:void(0);" class="add_button" style="padding-right: 15px; padding-top: 15px;" title="Adauga o persoană"><img src="static/icons/add-icon.png"/></a>
									<div class="field_wrapper_2" style="display:flex; flex-direction: column; padding-bottom: 15px;">
										<input type="text" name="field_name[]" placeholder="Nume, Prenume" class="form-control" required/>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<textarea name="text" id="text" cols="10" rows="10" class="form-control" placeholder="Lasă-ne un mesaj"></textarea>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" name="particip" value="True" class="btn btn-default btn-block">Da, confirm prezența</button>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" name="nu particip" value="False" class="btn btn-default btn-block">Nu pot să particip</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="static/js/jquery.countTo.js"></script>

	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/magnific-popup-options.js"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="static/js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="static/js/main.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		var maxField = 10; //Input fields increment limitation
		var addButton = $('.add_button'); //Add button selector
		var wrapper = $('.field_wrapper'); //Input field wrapper
		var fieldHTML = '<div class="field_wrapper_1" style="display:flex; flex-direction: row;"><a href="javascript:void(0);" class="remove_button" style="padding-right: 15px; padding-top: 15px;" title="Sterge"><img src="static/icons/remove-icon.png"/></a><div class="field_wrapper_2" style="display:flex; flex-direction: column; padding-bottom: 15px;"><input type="text" name="field_name[]" placeholder="Nume, Prenume" class="form-control" required/></div></div>'
		var x = 1; //Initial field counter is 1

		//Once add button is clicked
		$(addButton).click(function(){
			//Check maximum number of input fields
			if(x < maxField){
				x++; //Increment field counter
				$(wrapper).append(fieldHTML); //Add field html
			}
		});

		//Once remove button is clicked
		$(wrapper).on('click', '.remove_button', function(e){
			e.preventDefault();
			$(this).parent('div').remove(); //Remove field html
			x--; //Decrement field counter
		});
	});
	</script>

	<script>
    var d = new Date('2022/09/17 16:01')

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
</script>

	</body>
</html>

